<div>
    <input type="text" ng-model="city" ng-change="call(city)" placeholder="Search city"/>
    <input type="text" ng-model="lowest"  placeholder="Lowest temperature"/>
    <input type="text" ng-model="highest" placeholder="Highest temperature"/>
    <div ng-show="place.item.condition.text">
        <h3>Forecast For: {{ place.location.city }}</h3>
        <h4>
            Current: {{ place.item.condition.text }} | {{ place.item.condition.temp }}&deg;
            <img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/>
        </h4>
        <div ng-repeat="forecast in place.item.forecast | temperature:highest:lowest">
            <day></day>
        </div>
    </div> 
</div>